#!/usr/bin/make -f
%:
	dh $@ 

#export DEB_BUILD_MAINT_OPTIONS=hardening=-all,-format,+fortify
override_dh_auto_configure:
	./autogen.sh --with-apxs=/usr/bin/apxs
override_dh_auto_build:
	make
#	dh_auto_build:
	make install
